<html>
    <head>
        <title>Video Streaming Demonstration</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

		<nav class="hub">
			<span>
				<span>SM</span>
				<span>lab</span>
			</span>
		</nav>

        <main class="container">
            <div class="row">
                {% for i in range(0, n_cameras) %}
                <div class="col camera-controls">
                    <h2>Camera {{ i }}</h2>
                    <div class="row">
                        <img id="bg{{ i }}" src="/video_feed/{{ i }}">
                    </div>

                    <div class="controls">
                        <h5>Angle</h5>
                        <input class="w-25" type="number" id="degrees_box{{ i }}" value="90" disabled>
                        <input type="range" id="degrees1" value="90" min="0" max="180" onchange="updateDegreesBox(1, this.value);"/>
                    </div>
                    <div class="controls">
                        <h5>LED</h5>
                        <button class="btn btn-light" onclick="toggleLight({{ i }})">Toggle</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
